*.code-workspace
*.csv
*.ipynb
.dockerignore
.env
.gcloudignore
.git
.gitignore
.history
.idea
.ipynb_checkpoints
.venv/
.vscode/
__pycache__/
dist/
build*
/front-end/
scratch*

app_settings.py
compose.yaml
create_database.py
create_tables.sql
Dockerfile
gunicorn.conf.py
poetry.lock
pyproject.toml
README.md
