<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="icon" href="data:,">
    <title>Drug OD Deaths</title>
  </head>
  <body>
    <div class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <button
          class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#sidebar" aria-controls="sidebar"
          aria-expanded="false" aria-label="Toggle sidebar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand">Drug OD Deaths</span>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto bg-secondary p-0">
          <nav class="collapse collapse-horizontal show" id="sidebar">
            <div class="nav nav-tabs flex-column" role="tablist">
              <button
                class="btn btn-lg text-start nav-link py-3 active"
                id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary"
                type="button" role="tab" aria-controls="summary"
                aria-selected="true"
              >
                <i class="fa-solid fa-list me-2"></i>
                Summary
              </button>
              <button
                class="btn btn-lg text-start nav-link py-3" id="map-tab"
                data-bs-toggle="tab" data-bs-target="#map" type="button"
                role="tab" aria-controls="map" aria-selected="false"
              >
                <i class="fa-solid fa-map me-2"></i>
                Map
              </button>
              <button
                class="btn btn-lg text-start nav-link py-3" id="time-dev-tab"
                data-bs-toggle="tab" data-bs-target="#time-dev" type="button"
                role="tab" aria-controls="time-dev" aria-selected="false"
              >
                <i class="fa-solid fa-chart-line me-2"></i>
                Time development
              </button>
              <button
                class="btn btn-lg text-start nav-link py-3" id="data-tab"
                data-bs-toggle="tab" data-bs-target="#data" type="button"
                role="tab" aria-controls="data" aria-selected="false"
              >
                <i class="fa-solid fa-database me-2"></i>
                Data
              </button>
              <button
                class="btn btn-lg text-start nav-link py-3" id="notes-tab"
                data-bs-toggle="tab" data-bs-target="#notes" type="button"
                role="tab" aria-controls="notes" aria-selected="false"
              >
                <i class="fa-solid fa-file-lines me-2"></i>
                Technical notes
              </button>
            </div>
          </nav>
        </div>
        <div class="col-12 col-lg">
          <main class="tab-content">
            <section
              class="tab-pane fade show active" id="summary" role="tabpanel"
              aria-labelledby="summary-tab"
            >
              <div class="row px-4 pt-4 mb-5">
                <div class="col col-xl-11 col-xxl-10">
                  <h1 class="display-4 pt-3 mb-3">The Opioid Epidemic</h1>
                  <p class="h5 mb-3">
                    The death rate in the US due to opioid overdose increased by
                    almost a factor of six between 1997 and 2017 [1] and has
                    continued to climb, driven primarily by the abuse of
                    synthetic opioids such as fentanyl. (See the first plot
                    below.)
                  </p>
                  <p class="h5 mb-3">
                    From 2017 through early 2019 the growth rate of the epidemic
                    steadily decreased, as shown by the second plot below.  By
                    early 2020, however, the growth rate was again increasing
                    dramatically.
                  </p>
                  <p class="h5 mb-3">
                    The map at the bottom of the page shows the disturbing
                    regional concentration in the per capita death rate in
                    November 2017, when the overall number of drug-overdose
                    deaths temporarily peaked.
                  </p>
                  <p class="mb-5">
                    [1] Sarah DeWeerdt, "Tracing the US opioid crisis to its
                    roots", Nature 573, S10-S12 (2019)
                  </p>
                  <h2 class="h4 mb-3">Drug-overdose deaths in the US</h2>
                  <p class="h5 mb-3">
                    Each data point represents the number of deaths during the
                    preceding 12-month period.
                  </p>
                  <div
                    class="od-deaths-plot mb-5" id="epidemic-peak"
                    data-od-plot-params='{{ plot_params['epidemic_overview']|tojson }}'
                  >
                  </div>
                  <h2 class="h4 mb-3">Growth rate of the epidemic</h2>
                  <div
                    class="od-deaths-plot mb-5" id="growth-rate"
                    data-od-plot-params='{{ plot_params['growth_rate']|tojson }}'
                  >
                  </div>
                  <h2 class="h4 mb-3">
                    Regional distribution in November 2017
                  </h2>
                  <h3 class="h5 mb-3">
                    Number of drug-overdose deaths per {{ unit_population }}
                    people
                  </h3>
                  <div
                    class="od-deaths-plot" id="distribution"
                    data-od-plot-params='{{ plot_params['distribution']|tojson }}'
                  >
                  </div>
                </div>
              </div>
              <footer class="row px-4 pt-4">
                <div class="col">
                  <h2 class="h5 mb-3">Data sources</h2>
                  <p>
                    Drug OD deaths:
                    <a href="{{ urls['od_deaths_data'] }}">
                      {{ urls['od_deaths_data'] }}
                    </a>
                  </p>
                  <p class="mb-4">
                    Annual state populations:
                    <a href="{{ urls['population_data'] }}">
                      {{ urls['population_data'] }}
                    </a>
                  </p>
                  <h2 class="h5 mb-3">Source code</h2>
                  <p>
                    <a href="{{ urls['source_code'] }}">
                      {{ urls['source_code'] }}
                    </a>
                  </p>
                </div>
              </footer>
            </section>
            <section
              class="tab-pane fade" id="map" role="tabpanel"
              aria-labelledby="map-tab"
            >
              <div class="row pt-4 px-4">
                <div class="col col-xl-11 col-xxl-10">
                  <h2 class="h1 pt-3 mb-3">Drug-Overdose Deaths in the US</h2>
                  <h3 class="h4 mb-3" id="map-plot-title-1">
                    Number of drug-overdose deaths
                  </h3>
                  <h4 class="h5 mb-3" id="map-plot-title-2">
                    Twelve-month period ending September 2019
                  </h4>
                  <div class="od-deaths-plot" id="interactive-map-plot"></div>
                </div>
              </div>
              <form class="row pt-4 px-4" id="map-plot-form" >
                <div class="col-4 d-flex flex-column">
                  <label class="form-label" for="select-map-plot-statistic">
                    Select the statistic to display
                  </label>
                  <div class="d-flex">
                    <div class="od-deaths-select-container">
                      <select
                        class="form-select" id="select-map-plot-statistic"
                        name="{{ map_plot_param_names['statistic'] }}"
                      >
                        <option value="{{ statistic_types[0].value }}" selected>
                          {{ statistic_types[0].text }}
                        </option>
                        {% for statistic_type in statistic_types[1:] %}
                        <option value="{{ statistic_type.value }}">
                          {{ statistic_type.text }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 d-flex flex-column">
                  <label class="form-label" for="select-map-plot-period">
                    Select the twelve-month period ending
                  </label>
                  <div class="d-flex">
                    <div class="od-deaths-select-container">
                      <select
                        class="form-select" id="select-map-plot-period"
                        name="{{ map_plot_param_names['period'] }}"
                      >
                        {% for time_period in time_periods[:-1] %}
                        <option value="{{ time_period.value }}">
                          {{ time_period.text }}
                        </option>
                        {% endfor %}
                        <option
                          value="{{ time_periods[-1].value }}" selected
                        >
                          {{ time_periods[-1].text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </section>
            <section
              class="tab-pane fade" id="time-dev" role="tabpanel"
              aria-labelledby="time-dev-tab"
            >
              <div class="row pt-4 px-4">
                <div class="col col-xl-11 col-xxl-10">
                  <h2 class="h1 pt-3 mb-3">Time development by OD category</h2>
                  <h3 class="h4 mb-3" id="time-plot-title-1">
                    Number of deaths, preceding 12-month period
                  </h3>
                  <h4 class="h5 mb-3" id="time-plot-title-2">
                    United States
                  </h4>
                  <div class="od-deaths-plot" id="interactive-time-plot"></div>
                </div>
              </div>
              <form class="row pt-4 px-4" id="time-plot-form" >
                <div class="col-4 d-flex flex-column">
                  <label class="form-label" for="select-time-plot-location">
                    Select the US or a state
                  </label>
                  <div class="d-flex">
                    <div class="od-deaths-select-container">
                      <select
                        class="form-select" id="select-time-plot-location"
                        name="{{ time_plot_param_names['location'] }}"
                      >
                        <option value="{{ locations[0].value }}" selected>
                          {{ locations[0].text }}
                        </option>
                        {% for location in locations[1:] %}
                        <option value="{{ location.value }}">
                          {{ location.text }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 d-flex flex-column">
                  <label class="form-label" for="select-time-plot-statistic">
                    Select the statistic to display
                  </label>
                  <div class="d-flex">
                    <div class="od-deaths-select-container">
                      <select
                        class="form-select" id="select-time-plot-statistic"
                        name="{{ time_plot_param_names['statistic'] }}"
                      >
                        <option value="{{ statistic_types[0].value }}" selected>
                          {{ statistic_types[0].text }}
                        </option>
                        {% for statistic_type in statistic_types[1:] %}
                        <option value="{{ statistic_type.value }}">
                          {{ statistic_type.text }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 d-flex flex-column">
                  <label class="form-label" for="select-time-plot-od-type">
                    Select one or more categories to display
                  </label>
                  <div class="d-flex">
                    <div class="od-deaths-select-container">
                      <select
                        id="select-time-plot-od-type"
                        name="{{ time_plot_param_names['od_type'] }}" multiple
                      >
                        <option value="{{ od_types[0].value }}" selected>
                          {{ od_types[0].text }}
                        </option>
                        {% for od_type in od_types[1:] %}
                        <option value="{{ od_type.value }}">
                          {{ od_type.text }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </form>
              <footer class="row pt-4 px-4">
                <div class="col">
                  <p>
                    The death count was not reported for certain combinations of
                    state, year, month, and category. As a result, some plots of
                    time development are truncated, and the available categories
                    of drug-overdose deaths vary by state.
                  </p>
                </div>
              </footer>
            </section>
            <section
              class="tab-pane fade" id="data" role="tabpanel"
              aria-labelledby="data-tab"
            >
              <div class="row pt-4 px-4">
                <div class="col">
                  <h2 class="h1 pt-3 mb-3">Data used for analysis</h2>
                  <p class="h5 mb-3">
                    Raw data is shown, with some column names changed to improve
                    readability
                  </p>
                  <nav class="mb-3">
                    <div class="nav nav-pills" role="tablist">
                      <button
                        class="nav-link active" id="od-deaths-table-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#od-deaths-table-pane"
                        type="button" role="tab"
                        aria-controls="od-deaths-table-pane"
                        aria-selected="true"
                      >
                        Drug OD deaths
                      </button>
                      <button
                        class="nav-link" id="population-table-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#population-table-pane" type="button"
                        role="tab" aria-controls="population-table-pane"
                        aria-selected="true"
                      >
                        Annual populations
                      </button>
                    </div>
                  </nav>
                  <div class="tab-content mb-5">
                    <div
                      class="tab-pane fade show active"
                      id="od-deaths-table-pane"
                      role="tabpanel" aria-labelledby="od-deaths-table-tab"
                    >
                    </div>
                    <div
                      class="tab-pane fade" id="population-table-pane"
                      role="tabpanel" aria-labelledby="population-table-tab"
                    >
                    </div>
                  </div>
                  <footer>
                    <h3 class="h5 mb-3">Data sources</h3>
                    <p>
                      Drug OD deaths:
                      <a href="{{ urls['od_deaths_data'] }}">
                        {{ urls['od_deaths_data'] }}
                      </a>
                    </p>
                    <p>
                      Annual state populations:
                      <a href="{{ urls['population_data'] }}">
                        {{ urls['population_data'] }}
                      </a>
                    </p>
                  </footer>
                </div>
              </div>
            </section>
            <section
              class="tab-pane fade" id="notes" role="tabpanel"
              aria-labelledby="notes-tab"
            >
              <div class="row pt-4 px-4">
                <div class="col col-xl-11 col-xxl-10">
                  <h2 class="h1 pt-3 mb-3">Technical notes</h2>
                  <h3 class="h5 mb-3">
                    Data for drug-overdose deaths
                  </h3>
                  <ul class="mb-4">
                    <li class="mb-2">
                      The death counts are provisional values given by the Vital
                      Statistics Rapid Release program of the US government.
                    </li>
                    <li class="mb-2">
                      Provisional counts of drug-overdose deaths are reported
                      with a lag time of six months following the date of death.
                    </li>
                    <li class="mb-2">
                      The death count listed for a given month represents the
                      number of deaths occurring during the preceding 12-month
                      period. As a result, the death count does not show
                      seasonal variation.
                    </li>
                    <li class="mb-2">
                      Due to low data quality, the death count was not reported
                      for certain combinations of month, year, state, and drug
                      category.
                    </li>
                    <li class="mb-2">
                      Because of variations in reporting by different states,
                      death rates involving specific drug categories are not
                      compared between states. The only comparison made between
                      states is the total number of drug-overdose deaths.
                    </li>
                    <li class="mb-2">
                      <p class="mb-2">
                        The data includes cause-of-death codes from ICD–10, the
                        Tenth Revision of the International Statistical
                        Classification of Diseases and Related Health Problems.
                        The correspondence between plot labels and ICD-10 codes
                        is as follows:
                      </p>
                      <div class="px-4 py-2" id="od-code-table-pane"></div>
                    </li>
                    <li class="mb-2">
                      Additional information regarding the data on drug-overdose
                      deaths is available at
                      <a href="{{ urls['od_deaths_data'] }}">
                        {{ urls['od_deaths_data'] }}
                      </a>
                    </li>
                  </ul>
                  <h3 class="h5 mb-3">
                    Population data
                  </h3>
                  <ul>
                    <li class="mb-2">
                      Annual population estimates (dated July 1) are given by
                      the US Census Bureau.
                    </li>
                    <li class="mb-2">
                      For plots showing number of deaths per
                      {{ unit_population }} population, linear interpolation is
                      used to obtain population estimates that do not have an
                      abrupt change in July.
                    </li>
                    <li class="mb-2">
                      Additional information regarding the annual population
                      estimates is available at
                      <a href="{{ urls['population_data'] }}">
                        {{ urls['population_data'] }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
