// Bootstrap functions need to be imported first.
@import "bootstrap/scss/functions";

// Some variable definitions from bootstrap's _variables.scss are copied here so
// that they can be used in customizing bootstrap.
$spacer: 1rem;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

// Customization of bootstrap
$navbar-toggler-font-size: $font-size-sm;       // default: $font-size-lg
$navbar-padding-y: $spacer * .25;               // default: $spacer * .5

// Variables for the bootswatch theme.
@import "bootswatch/dist/darkly/variables";

// The full list of bootstrap's scss imports below was copied from the
// documentation.  Components not currently used in the app are commented out
// rather than removed in order to make it easier to add the components back in
// if necessary.

// Configuration
// Note that after variable overrides, the next two imports should be variables
// and maps (in that order).
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Style sheet for the bootswatch theme
@import "bootswatch/dist/darkly/bootswatch";
